[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
scikit-learn = "*"
numpy = "*"
torch = "*"
matplotlib = "*"
plotly = "*"
seaborn = "*"
geopy = "==2.4.1"
addfips = "==0.4.0"
setuptools = ">=68.0.0"
wheel = ">=0.40.0"
protobuf = ">=4.25.1"

[dev-packages]

[requires]
python_version = "3.10"
